/* ===================== GLOBAL STUFF ===================== */

a {
	color: #4A9AD7;
	background-color: inherit;
	text-decoration: none;
	/*font-weight: normal ! important;*/
	}

	a:visited {
		color: #C09C20;
		background-color: inherit;
		}
	
	a:link {
		color: #4A9AD7;
		background-color: inherit;
		}
	
	a:hover {
		color: #C09C20; 
		background-color: inherit;
		text-decoration: underline;
		}


body {
	background-color: #DAD9D1;
	color: #333333;
    margin: 0px 0px 0px 0px;
    padding: 53px 7px 0px 15px;
    border: 0px;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 12px;
}

body.no-sub-nav {
	padding-top: 35px;
}

div.error-intro {
	border: 1px solid #333;
	background-color: #ffc;
	padding: 4pt;
	color: #a00000;
	width: auto;
	max-width: 350pt;
	margin-bottom: 1em;
}

h1 {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 27px;
	color: #5D88A8;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 7px;
	background: white url(../img/title-banner-bg.png);
	font-family: Helvetica, sans-serif;
	font-size: 17px;
	line-height: 26px;
	font-weight: 500;
	z-index: 91;
}

p {
	margin-top: 0em;
	margin-bottom: 1em;
}

/* ========================= LISTS ========================= */

ol {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 3em;
}

/*ol ol {
	border: 1px solid red;
}*/

li {
	margin: 0px 0px 0px 0px;
	padding-bottom: 1px;
}
	
li.selected {
	font-weight: bold;
}

/* ======================= MAIN NAV ====================== */

#main-nav {
	position: fixed;
	top: 0px;
	right: 7px;
	width: auto;
	height: auto;
	font-size: 12px;
	margin-top: 5px;
	z-index: 99;
}

	#main-nav a:visited {
		color: #4A9AD7;
		background-color: inherit;
	}
	
	#main-nav a:link {
		color: #4A9AD7;	
		background-color: inherit;
	}
	
#sub-nav-data {
	position: fixed;
	top: 27px;
	left: 0px;
	right: 0px;
	height: 18px;
	color: #333333;
	background-color: #F3F2E9;
	border-bottom: 1px solid #333333;
	text-align: left;
	padding: 0px 7px 0px 7px;
	line-height: 16px;
	overflow: hidden;
	z-index:80;
}

#sub-nav-data .header {
	font-weight: bold;
}

#sub-nav-data .data {
	margin-right: 2em;
}

#sub-nav {
	position: fixed;
	top: 27px;
	right: 0px;
	height: 18px;
	width: auto;
	color: #333333;
	background-color: #F3F2E9;
	border-bottom: 1px solid #333333;
	text-align: right;
	padding: 0px 7px 0px 7px;
	line-height: 16px;
	z-index:85
}

/* ======================= LEFT PANE ====================== */

#left-pane {
	position: fixed;
	top: 46px;
	left: 0px;
	width: 300px;
	height: 100%;
	color: inherit;
	background-color: #F3F2E9;
	border-right: 1px solid #333333;
	z-index: 998; /* one below draggables */
}

#left-pane.no-sub-nav {
	top: 27px;
}

#left-pane-tab {
	position: absolute;
	top: -1px;
	left: 301px;
	width: 8px;
	height: 76px;
}

#left-pane h2 {
	background-color: #E0DFD7;
	color: #333333;
    margin: 0px 0px 4px 0px;
    padding: 0px 0px 0px 7px;
    border: 0px;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	clear: both;
}

#left-pane ol {
	margin-bottom: 7px;
}

/* ===================== PROGRESS PANE ===================== */

#progress-pane {
	display: block;
	color: inherit;
	background-color: #B9D8EF;
	border-bottom: 1px solid transparent; /* This makes the bg color fill properly for some reason... help! */
	/*border: 1px solid transparent;*/
}

#progress-pane h2 {
	color: inherit;
	background-color: #9EC6E3;
}

#progress-pane li {
	margin-bottom: 10px;
}

#progress-pane div.title {
	text-align: left;
	font-weight: bold;
	/*padding-top: 3px;*/
}

#progress-pane div.header {
	float: left;
	clear: both;
	width: 60px;
	text-align: left;
	color: #666;
	background-color: inherit;
	font-size: 10px;
	/*font-style: italic;
	font-weight: bold;*/
	padding-top: 3px;
}

#progress-pane div.header:after {
	content: ": ";
}

#progress-pane div.data {
	text-align: left;
	color: #666;
	background-color: inherit;
	font-size: 10px;
	font-weight: normal;
	padding-top: 3px;
}

/* ======================= INFO PANE ======================= */

#info-pane {
	display: none;
	color: inherit;
	background-color: #D9F3DE;
	border-bottom: 1px solid transparent; /* This makes the bg color fill properly for some reason... help! */
	/*border: 1px solid transparent;*/
}

#info-pane h2 {
	color: inherit;
	background-color: #C5DCC9;
}

#info-form {
	color: inherit;
	background-color: #D9F3DE;
}

#info-form > div {
	clear: both;
}

#info-form label {
	float: left;
	width: 65px;
	text-align: right;
	font-size: 10px;
	font-weight: bold;
	padding-top: 4px;
	/*line-height: 22px;
	vertical-align: top;*/
}

#info-form lable:after {
	content: ": ";
}

#info-form lable + * {
	float: right;
	width: 215px;
	margin-right: 8px;
	margin-bottom: 5px;
	text-align: left;
	padding: 0px 0px 0px 0px;
	border: 1px solid #999;
	color: inherit;
	background-color: #F2F2F2;
}

#info-form span.rating-stars {
	border: 0px;
	color: inherit;
	background-color: transparent;
	visibility: hidden;
	margin-top: 3px;
}

#info-form #item-comments {
	height: 80px;
}

#info-form #item-tags {
	height: 50px;
}

/* ======================= MAIN PANE ====================== */

.main-pane-normal {
	padding-left: 300px;
}

.main-pane-full {
	padding-left: 0px;
}

/* ======================= THUMBNAILS ====================== */

img.thumb {
	border: 1px solid white;
	vertical-align: middle;
	margin-bottom: 8px;
}

img.selected {
	border: 1px solid red;
}

img.showhide {
	border: 0px;
	padding-right: 2px;
}

/*li > img.showhide {
	border: 1px solid red;
	margin-left: -1em;
}*/

.can-drop {
	color: inherit;
	background-color: #FFD585;
}

span.thumb {
	display: inline-block;
	padding: 0px 8px 0px 0px;
	vertical-align: middle;
}

span.thumb-float {
	display: block;
	/*position: absolute;*/
	float: left;
	padding: 0px 8px 8px 0px;
	height: 90px; /* this is so wrapping looks ok */
	vertical-align: middle;
}

/* drag-number: the dragable block showing the number of elements being dragged */
#drag-number {
	position: absolute;
	display: block;
	visibility: hidden;
	top: -11px;
	left: -11px;
	width: 30px;
	height: 30px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;
	color: white;
	background: transparent url(../img/star-1.png) no-repeat;
	z-index: 999;
}
