/* CSS for admin screens.
 * ===================================================================
 * This program is free software; you can redistribute it and/or 
 * modify it under the terms of the GNU General Public License as 
 * published by the Free Software Foundation; either version 2 of 
 * the License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful, 
 * but WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU 
 * General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License 
 * along with this program; if not, write to the Free Software 
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 
 * 02111-1307 USA
 * ===================================================================
 * $Id: admin.css,v 1.6 2004/06/11 21:46:49 matt Exp $
 * ===================================================================
 */
 
DIV.info {
	color: #666;
	font-size: 10px;
	font-weight: normal;
	padding: 0px 0px 5px 0px;
}

/* CACHE LIST */

#cache-list-title {
	position: absolute;
	top: 47px;
	left: 10px;
	width: 200px;
	height: 20px;
	/*background-color: #e5e5da;*/
	background-color: #fff;
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #666666;
	overflow: hidden;
	padding: 0px;
	z-index: 2;
}

#cache-list {
	position: absolute;
	top: 67px;
	left: 10px;
	width: 200px;
	height: 100px;
	background-color: white;
	border: 1px solid #666666;
	overflow: auto;
	padding: 0px;
	z-index: 1;
}
	
	#cache-list DIV {
		padding: 2px 2px 1px 8px;
	}

#cache-list-tl {
	position: absolute;
	top: 47px;
	left: 10px;
	width: 5px;
	height: 5px;
	border: none;
	background-image: url("../img/corner-tl.png");
	z-index: 3;
}
	
#cache-list-tr {
	position: absolute;
	top: 47px;
	left: 207px;
	width: 5px;
	height: 5px;
	border: none;
	background-image: url("../img/corner-tr.png");
	z-index: 3;
}
	
#cache-list-br {
	visibility: hidden;
	position: absolute;
	top: 164px;
	left: 207px;
	width: 5px;
	height: 5px;
	border: none;
	background-image: url("../img/corner-br.png");
	z-index: 3;
}
	
#cache-list-bl {
	position: absolute;
	top: 164px;
	left: 10px;
	height: 5px;
	width: 5px;
	border: none;
	background-image: url("../img/corner-bl.png");
	z-index: 3;
}

/* POOL LIST */

#pool-list-title {
	position: absolute;
	top: 178px;
	left: 10px;
	width: 200px;
	height: 20px;
	/*background-color: #e5e5da;*/
	background-color: #fff;
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #666666;
	overflow: hidden;
	padding: 0px;
	z-index: 2;
}

#pool-list {
	position: absolute;
	top: 198px;
	left: 10px;
	width: 200px;
	height: 150px;
	background-color: white;
	border: 1px solid #666666;
	overflow: auto;
	padding: 0px;
	z-index: 1;
}
	
	#pool-list DIV {
		padding: 2px 2px 1px 8px;
	}

#pool-list-tl {
	position: absolute;
	top: 178px;
	left: 10px;
	width: 5px;
	height: 5px;
	border: none;
	background-image: url("../img/corner-tl.png");
	z-index: 3;
}
	
#pool-list-tr {
	position: absolute;
	top: 178px;
	left: 207px;
	width: 5px;
	height: 5px;
	border: none;
	background-image: url("../img/corner-tr.png");
	z-index: 3;
}
	
#pool-list-br {
	visibility: hidden;
	position: absolute;
	top: 345px;
	left: 207px;
	width: 5px;
	height: 5px;
	border: none;
	background-image: url("../img/corner-br.png");
	z-index: 3;
}
	
#pool-list-bl {
	position: absolute;
	top: 345px;
	left: 10px;
	height: 5px;
	width: 5px;
	border: none;
	background-image: url("../img/corner-bl.png");
	z-index: 3;
}

/* REBUILD SEARCH INDEX DIALOG */

#rebuild-search-dialog {
	position: absolute;
	visibility: hidden;
	top: 30px;
	left: 30px;
	background-color: #ffc;
	border: 1px solid #666;
	z-index: 89;
}

#rebuild-search-dialog P {
	padding-left: 2px;
}

#rebuild-search-dialog DIV {
	padding: 5px 25px 5px 25px;
	width: 300px;
}

#rebuild-search-dialog-tl {
	position: absolute;
	visibility: hidden;
	height: 5px;
	width: 5px;
	background-image: url("../img/corner-white-tl.png");
	z-index: 90;
}

#rebuild-search-dialog-tr {
	position: absolute;
	visibility: hidden;
	height: 18px;
	width: 18px;
	background-image: url("../img/corner-x-white-tr.png");
	z-index: 90;
}

#rebuild-search-dialog-br {
	position: absolute;
	visibility: hidden;
	height: 5px;
	width: 5px;
	background-image: url("../img/corner-white-br.png");
	z-index: 90;
}

#rebuild-search-dialog-bl {
	position: absolute;
	visibility: hidden;
	height: 5px;
	width: 5px;
	background-image: url("../img/corner-white-bl.png");
	z-index: 90;
}

/* SCAN COLLECTIONS DIALOG */

#scan-collections-dialog {
	position: absolute;
	visibility: hidden;
	top: 30px;
	left: 30px;
	background-color: #ffc;
	border: 1px solid #666;
	z-index: 89;
}

#scan-collections-dialog P {
	padding-left: 2px;
}

#scan-collections-dialog DIV {
	padding: 5px 25px 5px 25px;
	width: 300px;
}

#scan-collections-dialog-tl {
	position: absolute;
	visibility: hidden;
	height: 5px;
	width: 5px;
	background-image: url("../img/corner-white-tl.png");
	z-index: 90;
}

#scan-collections-dialog-tr {
	position: absolute;
	visibility: hidden;
	height: 18px;
	width: 18px;
	background-image: url("../img/corner-x-white-tr.png");
	z-index: 90;
}

#scan-collections-dialog-br {
	position: absolute;
	visibility: hidden;
	height: 5px;
	width: 5px;
	background-image: url("../img/corner-white-br.png");
	z-index: 90;
}

#scan-collections-dialog-bl {
	position: absolute;
	visibility: hidden;
	height: 5px;
	width: 5px;
	background-image: url("../img/corner-white-bl.png");
	z-index: 90;
}

