html {
	background-color: #fff;
	color: #666;
}

body.browse {
	text-align: center;
	font-family: georgia, times, serif;
	font-size: 11pt;
	overflow: auto !important;
}

#browse-frame {
	position: relative;
	margin-top: 15px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 15px;
	width: 720px;
	height: auto;
}
	
body.browse h1 {
	font-size: 22pt;
	font-weight: normal;
	margin: 8px 150px 8px 150px;
	padding: 0 0 8px 0;
	border-bottom: 1px solid #ccc;
}

div.album-sep {
	margin: 30px 150px 30px 150px;
	border-bottom: 1px dotted #ccc;
	clear: both;
}

body.browse .selected {
	font-weight: bold;
}

div.browse-index {
	font-size: 10pt;
	margin-bottom: 18pt;
}

div.browse-album-frame {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 30px;
	clear: both;
}

#browse-modes {
	font-size: 10pt;
	margin-left: 150px;
	margin-top: -12pt;
	margin-right: 150px;
	border-top: 1px solid #ccc;
	padding-top: 6pt;
}

a, a:link, a:visited, .clickable {
	color: #666;
	background-color: inherit;
	text-decoration: none;
	cursor: pointer;
}
a:active, a:hover, .clickable:active, .clickable:hover {
	color: #666;
	background-color: inherit;
	text-decoration: underline;
}

img.poster {
	padding: 10px 10px 10px 10px;
	border: 1px solid #ccc;
	background-color: #fff;
	color: inherit;
}

img.odd {
	margin-right: 55px;
}

img.even {
	/*margin-left: 55px;*/
}

div.poster-odd {
	padding-bottom: 3px;
/*border: 1px solid green;*/
}

div.odd {
	text-align: right;
}

div.browse-odd {
	float: right;
	text-align: left;
	width: 300px;
}

div.even {
	text-align: left;
}

div.poster-even {
	margin-left: 352px;
	padding-right: 3px;
	padding-bottom: 3px;
}

div.browse-even {
	float: left;
	text-align: right;
	width: 300px;
}

body.browse h2 {
	font-size: 14pt;
	font-weight: normal;
	color: #000;
	background-color: inherit;
	margin: 0 0 0 0;
	padding: 10px 0 0 0;
}

.browse-album-info {
	font-family: tahoma, verdana, sans-serif;
	font-size: 8pt;
	margin-bottom: 12pt;
}

.browse-album-text {
	color: #333;
	background-color: inherit;
	line-height: 1.2;
	margin-bottom: 30px;
}

div.browse-clear {
	clear: both;
	padding-bottom: 30px;
}


/* Search UI */

#search-frame {
	position: fixed;
	top: 100pt;
	left: 0px;
	right: 0px;
	bottom: 0px;
	color: #666;
	background-color: #fff;
	border-top: thin solid #ccc;
	padding-top: 1em;
	padding-left: 5em;
	padding-right: 5em;
	text-align: left;
	overflow: auto;
}

#search-frame h2 {
	clear: both;
	color: #666;
	background-color: inherit;
	border-bottom: thin solid #666;
	padding-top: 1.2em;
	margin-bottom: 0.5em;
	font-family: Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}

img.thumb {
	border: 1px solid white;
	vertical-align: middle;
	margin-bottom: 8px;
}

div.thumb {
	display: inline-block;
	padding: 0px 8px 0px 0px;
	vertical-align: middle;
	cursor: pointer;
}

div.thumb-float {
	display: block;
	/*position: absolute;*/
	float: left;
	padding: 0px 8px 8px 0px;
	/*height: 90px; this is so wrapping looks ok */
	vertical-align: middle;
	cursor: pointer;
}

#search-form label {
	width: 70pt !important;
}

#search-form div.submit {
	margin-left: 70pt;
}

#date-range-calendar-toggle {
	margin-left: 0.5em;
	vertical-align: middle;
	cursor: pointer;
}

#date-range-calendar-container {
	font-size: 8pt;
	font-family: arial, helvetica, sans-serif;
}

#search-start-date, 
#search-end-date {
	width: 60pt;
}

#start-date-calendar {
	float: left;
	margin-right: 10pt;
}

/* ======================= SIMPLE FORM ====================== */

form.simple-form > div {
	clear: both;
}

form.simple-form > fieldset > div {
	clear: both;
}

form.simple-form fieldset + fieldset {
	margin-top: 1em;
}

form.simple-form label {
	float: left;
	min-width: 65px;
	text-align: left;
	font-size: 11px;
	font-weight: bold;
	padding-top: 4px;
	/*line-height: 22px;
	vertical-align: top;*/
}

form.simple-form label:after {
	content: ": ";
}

form.simple-form label + * {
	float: left;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	text-align: left;
	padding: 0px 0px 0px 0px;
	max-width: 40em;
	/*border: 1px solid #999;
	color: inherit;
	background-color: #F2F2F2;*/
}

form.simple-form legend {
	font-weight: bold;
	font-style: italic;
}

form.simple-form input[type='text'], 
form.simple-form input[type='password'],
form.simple-form textarea {
	width: 215px;
	border: 1px solid #999;
}

form.simple-form input[type='submit'] {
	margin-left: 8px;
}

form.simple-form div.caption {
	font-size: 10px;
	font-style: italic;
	color: #666;
	background-color: inherit;
}

form.simple-form div.submit {
	padding-top: 0.5em;
	margin-left: 73px;
}

form.simple-form .display-only {
	margin-top: 0.3em;
}

form.simple-form input[type='checkbox'] {
	float: left;
}

/* Generic Frame classes */
.frame-tl {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 11px;
	height: 23px;
	color: inherit;
	background-color: #FFF;
}
.frame-tr {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 11px;
	height: 23px;
	color: inherit;
	background-color: #FFF;
}
.frame-bl {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 11px;
	height: 11px;
	background-color: #FFF;
	color: inherit;
}
.frame-br {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 11px;
	height: 11px;
	background-color: #FFF;
	color: inherit;
}
.frame-t {
	width: 100%;
	height: 23px;
	border: none;
}
.frame-m {
	position: absolute;
	top: 24px;
	left: 0px;
	bottom: 11px;
	width: 100%;
	color: inherit;
	background-color: #FFF;
	overflow: hidden;
}
.frame-ml {
	position: absolute;
	top: 23px;
	left: 0px;
	width: 6px;
	bottom: 11px;
	/*z-index: 11;*/
}
.frame-mr {
	position: absolute;
	top: 23px;
	right: 0px;
	width: 6px;
	bottom: 11px;
	/*z-index: 11;*/
}
.frame-b {
	position: absolute;
	width: 100%;
	height: 11px;
	left: 0px;
	bottom: 0px;
}
