html {
	background-color: #fff;
	color: #666;
}

body.browse {
	text-align: center;
	font-family: georgia, times, serif;
	font-size: 11pt;
	overflow: auto !important;
}

#browse-frame {
	position: relative;
	margin-top: 15px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 15px;
	width: 720px;
	height: auto;
}
	
body.browse h1 {
	font-size: 22pt;
	font-weight: normal;
	margin: 8px 150px 8px 150px;
	padding: 0 0 8px 0;
	border-bottom: 1px solid #ccc;
}

body.browse .selected {
	font-weight: bold;
}

div.browse-years {
	font-size: 10pt;
	margin-bottom: 18pt;
}

div.browse-album-frame {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 30px;
	clear: both;
}

img.poster {
	padding: 10px 10px 10px 10px;
	border: 1px solid #ccc;
	background-color: #fff;
	color: inherit;
}

img.odd {
	margin-right: 55px;
}

img.even {
	/*margin-left: 55px;*/
}

div.poster-odd {
	padding-bottom: 3px;
border: 1px solid green;
}

div.odd {
	text-align: right;
}

div.browse-odd {
	float: right;
	text-align: left;
	width: 300px;
}

div.even {
	text-align: left;
}

div.poster-even {
	margin-left: 352px;
	padding-right: 3px;
	padding-bottom: 3px;
}

div.browse-even {
	float: left;
	text-align: right;
	width: 300px;
}

body.browse h2 {
	font-size: 14pt;
	font-weight: normal;
	color: #000;
	background-color: inherit;
	margin: 0 0 0 0;
	padding: 10px 0 0 0;
}

.browse-album-info {
	font-family: tahoma, verdana, sans-serif;
	font-size: 8pt;
	margin-bottom: 12pt;
}

.browse-album-text {
	color: #333;
	background-color: inherit;
	line-height: 1.2;
	margin-bottom: 30px;
}

div.browse-clear {
	clear: both;
	padding-bottom: 30px;
}


/* Generic Frame classes */
.frame-tl {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 11px;
	height: 23px;
	color: inherit;
	background-color: #FFF;
}
.frame-tr {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 11px;
	height: 23px;
	color: inherit;
	background-color: #FFF;
}
.frame-bl {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 11px;
	height: 11px;
	background-color: #FFF;
	color: inherit;
}
.frame-br {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 11px;
	height: 11px;
	background-color: #FFF;
	color: inherit;
}
.frame-t {
	width: 100%;
	height: 23px;
	border: none;
}
.frame-m {
	position: absolute;
	top: 24px;
	left: 0px;
	bottom: 11px;
	width: 100%;
	color: inherit;
	background-color: #FFF;
	overflow: hidden;
}
.frame-ml {
	position: absolute;
	top: 23px;
	left: 0px;
	width: 6px;
	bottom: 11px;
	z-index: 11;
}
.frame-mr {
	position: absolute;
	top: 23px;
	right: 0px;
	width: 6px;
	bottom: 11px;
	z-index: 11;
}
.frame-b {
	position: absolute;
	width: 100%;
	height: 11px;
	bottom: 0px;
}
