BODY {
	background-color: #cdcebd;
}

DIV {
	font-family: serif;
	font-size: medium;
}

	BODY > DIV {
		background-color: #fff;
		border: 1px solid #999;
		margin-bottom: 1em;
		margin-left: 0.5em;
		margin-right: 1em;
		padding: 0.5em;
		-moz-border-radius-topleft: 9px;
		-moz-border-radius-bottomleft: 9px;
		-moz-border-radius-topright: 9px;
		-moz-border-radius-bottomright: 9px;
	}

DIV + DIV {
	margin-top: 1em;
}

H1 {
	clear: both;
	font-family: sans-serif;
	font-size: x-large;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	border: 1px solid #666;
	background-color: #ffc;
	padding: 0.2em;
	-moz-border-radius-topleft: 9px;
	-moz-border-radius-bottomleft: 9px;
	-moz-border-radius-topright: 9px;
	-moz-border-radius-bottomright: 9px;
}

H2 {
	clear: both;
	font-family: sans-serif;
	font-size: large;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	border: 1px solid #666;
	background-color: #ffffde;
	margin-top: 3em;
	padding: 0.2em;
	-moz-border-radius-topleft: 9px;
	-moz-border-radius-bottomleft: 9px;
	-moz-border-radius-topright: 9px;
	-moz-border-radius-bottomright: 9px;
}

H3 {
	font-family: sans-serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	margin-top: 1.5em;
	margin-left: 0.75cm;
	border: 1px solid #666;
	background-color: #cdcebd;
	padding: 0.2em;
	-moz-border-radius-topleft: 9px;
	-moz-border-radius-bottomleft: 9px;
	-moz-border-radius-topright: 9px;
	-moz-border-radius-bottomright: 9px;
}

TABLE[class=thumbs] {
	border: none;
	margin-top: 1em;
}

TABLE[class=thumbs] TD {
	border: none;
	font-family: sans-serif;
	font-size: small;
	padding: 0.2em;
	text-align: center;
	padding-bottom: 2em;
}

TABLE[class=thumbs] TH {
	background-color: inherit;
	border: none;
	padding: 0.2em;
	text-align: center;
}
