/* CSS for edit album.
 * ===================================================================
 * This program is free software; you can redistribute it and/or 
 * modify it under the terms of the GNU General Public License as 
 * published by the Free Software Foundation; either version 2 of 
 * the License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful, 
 * but WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU 
 * General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License 
 * along with this program; if not, write to the Free Software 
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 
 * 02111-1307 USA
 * ===================================================================
 * $Id: edit-album.css,v 1.9 2004/08/01 17:39:51 matt Exp $
 * ===================================================================
 */
 
BODY {
	background-color: #cdcebd;
	overflow: hidden;
}

FORM TABLE {
	border: none;
}

#edit-album-content FORM TD {
	background-color: transparent;
	padding: 2px 0px 10px 8px;
}

#edit-album-content FORM TH {
	background-color: transparent;
	padding: 2px 0px 0px 0px;
	border-top: 1px dotted #ccc;
}

#update-album-row > TD {
	padding: 10px;
}

#update-album-data-row > TD {
	padding: 10px;
}

#control-widget {
	position: absolute;
	left: 0px; 
	top: 10px;
	width: 300px;
	height: 330px;
	z-index: 99;
}

#cw-body-right {
	position: absolute;
	left: 0px;
	right: 14px;
	top: 0px;
	bottom: 0px;
	background-image: url('../img/widget-bg.png');
	border-left: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-top: 1px solid #666666;
	padding: 5px;
}

#cw-handle-right {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 14px;
	height: 43px;
}

#cw-space-right {
	position: absolute;
	top: 43px;
	right: 0px;
	width: 13px;
	bottom: 0px;
	border-left: 1px solid #666666;
}

#control-widget SELECT, #control-widget INPUT[type='text'], #control-widget TEXTAREA {
	width: 180px;
}

#control-widget TEXTAREA {
	height: 100px;
}

#edit-album-content {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 145px;
	background-color: white;
	border: 1px solid #666666;
	overflow: auto;
	padding: 0px;
	z-index: 1;
}

#edit-album-content INPUT[type='text'], #edit-album-content TEXTAREA {
	width: 180px;
}

#edit-album-content TEXTAREA {
	height: 11em;
}

#edit-album-collection-content {
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	height: 125px;
	background-color: white;
	border: 1px solid #666666;
	overflow: auto;
	padding: 0px;
	z-index: 2;
}

#edit-album-thumb-iframe {
	width: 100%;
	height: 125px;
	border: 0;
	margin: 0px;
	padding: 0px;
}

#edit-thumbnail-body {
	background-color: transparent;
	height: 125px;
	overflow: auto;
	margin: 0px;
	padding: 0px;
}
