<Context>
	<Resource name="jdbc/matte" 
		type="javax.sql.DataSource" scope="Shareable"
		driverClassName="org.postgresql.Driver" 
		url="jdbc:postgresql://localhost:5432/malbum2"
		username="malbum2" password="malbum2" maxWait="5000"
		maxActive="5" maxIdle="2" removeAbandoned="true"
		removeAbandonedTimeout="60" logAbandoned="true"
		validationQuery="select CURRENT_TIMESTAMP"
	/>
	<Resource name="mail/matte" 
		auth="Container" 
		type="javax.mail.Session"
		mail.smtp.host="grape"
	/>
</Context>
